<center>
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/module_1/images/SN_web_lightmode.png" width="300"> 
</center>

# Assignment: Exploratory Data Analysis with SQL
Estimated time needed: 60 minutes


# Introduction
Using this R notebook you will perform exploratory data analysis using SQL queries with the RSQLite R package. You will be graded on the accuracy of your results as well as the content of your SQL queries.

### Establish your SQlIte connection
Load the 'RSQLite' library, and use the 'dbConnect( )' function as you did in the previous lab to establish the connection to your SQLite database.  
You are now ready to start running SQL queries using the RSQLite library as you did in Course 3.

In [1]:
# provide your solution here
install.packages("RSQLite")

also installing the dependencies ‘bit’, ‘cachem’, ‘bit64’, ‘blob’, ‘memoise’, ‘Rcpp’

Updating HTML index of packages in '.Library'
Making 'packages.html' ... done

In [1]:
library("RSQLite")

In [2]:
conn <- dbConnect(RSQLite::SQLite(),"FinalRSQLite")

Download the following csv files:

*   [WORLD_CITIES](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/world_cities.csv)

*   [BIKE_SHARING_SYSTEMS](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/bike_sharing_systems.csv)

*   [CITIES_WEATHER_FORECAST](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/cities_weather_forecast.csv)

*   [SEOUL_BIKE_SHARING](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv)

and load the csv's  into 4 tables as mentioned below
* SEOUL_BIKE_SHARING

* CITIES_WEATHER_FORECAST

* BIKE_SHARING_SYSTEMS 

*  WORLD_CITIES

> Hint : Use the read_csv() function and dbWriteTable() functions

In [17]:
df1 <- dbExecute(conn, 
                    "CREATE TABLE SEOUL_BIKE_SHARING (
                                      DATE DATE NOT NULL,
                                      WEATHER INTEGER NOT NULL,
                                      HOUR TIME NOT NULL,
                                      TEMPERATURE  NOT NULL, 
                                      HUMIDITY INTEGER NOT NULL,
                                      WIND_SPEED INTEGER NOT NULL,
                                      VISIBILITY INTEGER NOT NULL,
                                      DEW_POINT_TEMPERATURE INTEGER NOT NULL,
                                      SOLAR_RADIATION INTEGER NOT NULL,
                                      RAINFALL INTEGER NOT NULL,
                                      SNOWFALL INTEGER NOT NULL,
                                      SEASONS VARCHAR(20)  NOT NULL,
                                      HOLIDAY  VARCHAR(20) NOT NULL,
                                      FUNCTIONING DAY VARCHAR(20) NOT NULL
   )", 
                    errors=FALSE
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [14]:
          
df2 <- dbExecute(conn, 
                    "CREATE TABLE CITIES_WEATHER_FORECAST (
                                      CITY VARCHAR(20) NOT NULL,
                                      WEATHER VARCHAR(20) NOT NULL,
                                      VISIBILITY INTEGER NOT NULL,
                                      TEMP INTEGER NOT NULL, 
                                      TEMP_MIN INTEGER NOT NULL,
                                      TEMP_MAX INTEGER NOT NULL,
                                      PRESSURE INTEGER NOT NULL,
                                      HUMIDITY INTEGER NOT NULL,
                                      WIND_SPEED INTEGER NOT NULL,
                                      WIND_DEG INTEGER NOT NULL,
                                      SEASON VARCHAR (20)  NOT NULL,
                                      FORECAST_DATETIME DATE NOT NULL
   )", 
                    errors=FALSE
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [15]:

df3 <- dbExecute(conn, 
                    "CREATE TABLE BIKE_SHARING_SYSTEMS  (
                                      COUNTRY VARCHAR(20) NOT NULL,
                                      CITY VARCHAR(20) NOT NULL,
                                      SYSTEM VARCHAR(20) NOT NULL,
                                      BICYCLES INTEGER NOTULL
                                       )", 
                    errors=FALSE
                    )

    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [16]:

df4<- dbExecute(conn, 
                    "CREATE TABLE  WORLD_CITIES  (
CITY VAR HAR(20) NOT NULL,
CITY_ASCII VAR CHAR(20) NOT NULL,
LAT INTEGER NOT NULL,
LNG INTEGER NOT NULL,
COUNTRY VARCHAR(20) NOT NULL,
ISO2 CHAR NOT NULL,
ISO3CHAR NOT NULL,
ADMIN_NAME  VARCHAR (20) NOT NULL,
CAPITAL VARCHAR(20) NOT NULL,
POPULATION INTEGER NOT NULL,
ID INTEGER NOT NULL,
PRIMARY KEY(ID)
              )", 
                    errors=FALSE
                    )

    if (df4== -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

Table was created successfully.

In [3]:
dbListTables(conn)

[1] "BIKE_SHARING_SYSTEMS"    "CITIES_WEATHER_FORECAST"
[3] "SEOUL_BIKE_SHARING"      "WORLD_CITIES"

In [4]:
# seouldf <- read.csv(' "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-RP0321EN-SkillsNetwork/labs/datasets/seoul_bike_sharing.csv"  ')
city_weatherdf <- read.csv('CITIES_WEATHER_FORECAST')
bike_sharedf <- read.csv('BIKE_SHARING_SYSTEMS')
world_citydf <- read.csv('WORLD_CITIES')
head(seouldf)
head(city_weatherdf)
head(bike_sharedf)
head( world_citydf)

Warning message in file(file, "rt"):
“cannot open file 'CITIES_WEATHER_FORECAST': No such file or directory”

ERROR: Error in file(file, "rt"): cannot open the connection

In [ ]:
dbWriteTable(conn, "SEOUL_BIKE_SHARING", seouldf, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "CITIES_WEATHER_FORECAST", city_weatherdf, overwrite=TRUE, header = TRUE)
dbWriteTable(conn, "BIKE_SHARING_SYSTEMS", bike_sharedf, overwrite=TRUE, header = TRUE)
dbWriteTable(conn,"WORLD_CITIES" , world_citydf, overwrite=TRUE, header = TRUE)


## Task 1 - Record Count
#### Determine how many records are in the seoul_bike_sharing dataset.

### Solution 1

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT COUNT(SEASON) FROM SEOUL_BIKE_SHARING')

## Task 2 - Operational Hours
#### Determine how many hours had non-zero rented bike count.

### Solution 2

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT COUNT(HOURS) FROM SEOUL_BIKE_SHARING 
WHERE RENTED_BIKE_COUNT<>0')

## Task 3 - Weather Outlook
#### Query the the weather forecast for Seoul over the next 3 hours.
Recall that the records in the CITIES_WEATHER_FORECAST dataset are 3 hours apart, so we just need the first record from the query.

### Solution 3

In [ ]:
# provide your solution here
dbGetQuery(conn, 'SELECT WEATHER , CURRENT(FORECAST_DATETIME) FROM CITIES_WEATHER_FORECAST
WHERE  CITY="Seoul" ')

## Task 4 - Seasons
#### Find which seasons are included in the seoul bike sharing dataset.

### Solution 4

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT DISTINCT SEASONS FROM SEOUL BIKE SHARING')

## Task 5 - Date Range
#### Find the first and last dates in the Seoul Bike Sharing dataset.

### Solution 5

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT min(DATE) FIRST_DATE, max(DATE) LAST_DATE FROM SEOUL BIKE SHARING')

## Task 6 - Subquery - 'all-time high'
#### determine which date and hour had the most bike rentals.

### Solution 6

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT MAX(RENTED_BIKE_COUNT),DATE,HOUR FROM SEOUL_BIKE_SHARING')

## Task 7 - Hourly popularity and temperature by season
#### Determine the average hourly temperature and the average number of bike rentals per hour over each season. List the top ten results by average bike count.

### Solution 7

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT SEASONS, HOUR,  AVG(TEMPERATURE), AVG(RENTED_BIKE_COUNT) AS AVG_BIKE_COUNT FROM  SEOUL_BIKE_SHARING
GROUP BY SEASONS, HOUR
ORDER BY AVG_BIKE_COUNT DESC LIMIT 10')

## Task 8 - Rental Seasonality
#### Find the average hourly bike count during each season. 
Also include the minimum, maximum, and standard deviation of the hourly bike count for each season. 

> Hint : Use the SQRT(AVG(col*col) - AVG(col)*AVG(col) ) function where col refers to your column name for finding the standard deviation

### Solution 8

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT SEASONS, AVG(RENTED_BIKE_COUNT) AS AVG_BIKE_COUNT,

        MIN(RENTED_BIKE_COUNT) as MIN_BIKE_COUNT,

        MAX(RENTED_BIKE_COUNT) as MAX_BIKE_COUNT,

        STDDEV(RENTED_BIKE_COUNT) as STD_BIKE_COUNT

FROM  SEOUL_BIKE_SHARING

GROUP BY SEASONS

ORDER BY AVG_BIKE_COUNT DESC')

Let's explore a bit and see what might be the most significant contributing factors in terms of the provided data.

## Task 9 - Weather Seasonality
#### Consider the weather over each season. On average, what were the TEMPERATURE, HUMIDITY, WIND_SPEED, VISIBILITY, DEW_POINT_TEMPERATURE, SOLAR_RADIATION, RAINFALL, and SNOWFALL per season?
Include the average bike count as well , and rank the results by average bike count so you can see if it is correlated with the weather at all.

### Solution 9

In [ ]:
# provide your solution here
dbGetQuery(conn,"SELECT SEASONS,
(RENTED_BIKE_COUNT/HOUR) AS AVERAGE_BIKE_COUNT,
(TEMPERATURE/HOUR) AS_HOURLY_TEMP,
(HUMIDITY/HOUR) ASAVG_HUMIDITY,
(WIND_SPEED/HOUR)B AS AVG_WINDSPEED,
(VISIBILITY/HOUR) AS AVG_VISIBILITY,
(DEW_POINT_TEMPERATURE/HOUR) AS AVG_DP,
(SOLAR_RADIATION/HOUR) AS AVG_SOLARRAD,
(RAINFALL/HOUR) AS AVG_RAINFALL,
(SNOWFALL/HOUR) AS AVG SNOWFALL  FROM SEOUL_BIKE_SHARING
WHERE HOUR>0
ORDER BY AVERAGE BIKE_COUNT DESC")

## Task 10 - Total Bike Count and City Info for Seoul
#### Use an implicit join across the WORLD_CITIES and the BIKE_SHARING_SYSTEMS tables to determine the total number of bikes avaialble in Seoul, plus the following city information about Seoul: CITY, COUNTRY, LAT, LON, POPULATION, in a single view.
Notice that in this case, the CITY column will work for the WORLD_CITIES table, but in general you would have to use the CITY_ASCII column.

### Solution 10

In [ ]:
# provide your solution here
dbGetQuery(conn,'SELECT COUNT(B.BICYCLES) AS TOTAL_BIKECOUNT,W.COUNTRY,W.CITY,W.LAT,W.LNG,W.POPULATION 
FROM BIKE_SHARING_SYSTEMS B, WORLD_CITIES W
WHERE B.CITY="Seoul" AND W.CITY="Seoul"')

## Task 11 - Find all city names and coordinates with comparable bike scale to Seoul's bike sharing system
#### Find all cities with total bike counts between 15000 and 20000. Return the city and country names, plus the coordinates (LAT, LNG), population, and number of bicycles for each city.
Later we will ask you to visualize these similar cities on leaflet, with some weather data.

### Solution 11

In [ ]:
# provide your solution hereLAT, LAN and POPULATION: 

dbGetQuery(conn,'SELECT COUNT(B.BICYCLES) , W.CITY,W.COUNTRY,W.LAT,W.LNG,W.POPULATION FROM BIKE_SHARING_SYSTEMS B, WORLD_CITIES W
WHERE B.BICYCLES >= 15000 AND B.BICYCLES <=20000 AND 
B.CITY = W.CITY')

In [ ]:
close(conn)

## Author(s)

<h4> Jeff Grossman </h4>
<h4> Lakshmi Holla </h4>


## Other Contributor(s)

<h4>  Malika Singla </h4>

## Change log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2022-03-03        | 1.0     |Lakshmi Holla  | Created lab using sqlite3          |

## <h3 align="center"> © IBM Corporation 2022. All rights reserved. <h3/>